* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 300px
}

.main-menu {
    list-style: none;
}

.main-menu a {
    display: block;
    padding: 10px;
    background-color: rgb(112, 10, 10);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.main-menu a:hover {
    cursor: pointer;
    background-color: rgb(221, 117, 117);
}

.categoriesUl {
    display: none;
    list-style: none;
}

.subMenu:hover .categoriesUl {
    display: block;
    position: absolute;
    left: 300px;
    bottom: 0px;
}

.subMenu {
    position: relative;
}