* {
    margin: 0;
    padding: 0;
}

.main-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-menu a {
    display: block;
    padding: 10px;
    background-color: rgb(112, 10, 10);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    width: 100px;
}

.main-menu a:hover {
    cursor: pointer;
    background-color: rgb(221, 117, 117);
}

.categoriesUl,
.jsUl {
    display: none;
    list-style: none;
    position: absolute;

}

.subMenu {
    position: relative;
}

.subMenu:hover>.categoriesUl {
    display: block;
    top: 40px;
}

.subMenu:hover>.jsUl {
    display: block;
    left: 120px;
    top: 0px;
}